.neosound__modal--wrapper {
  z-index: 3000;
  max-width: 750px;
  @apply fixed top-0 left-0 right-0 bottom-0 m-auto flex h-full w-full flex-col justify-center overflow-y-scroll;
}

.neosound__modal--inner {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.125);
  background: var(--ns__surface-pink);
  @apply relative h-auto w-full;
}

.neosound__modal--wrapper .drops-ui__metadata--title {
  display: none;
}

/* STYLING DROPS COMPONENTS:: */
.neosound__modal--wrapper .drops-ui__metadata--name > .drops-ui__metadata--copy {
  font-size: 30px;
  line-height: 1;
}
