.neosound--backdrop {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 64%,
    rgba(255, 137, 222, 1) 100%
  );
}

.neosound__playlist--wrapper {
  @apply grid grid-cols-1;
}

.neosound__playlist--grid-view {
  @apply gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
}

.neosound__playlist--item {
  @apply relative;
}

.neosound__playlist--grid-item {
  @apply relative  aspect-square shadow-sm shadow-neutral-200/10;
}

.neosound__playlist--row-item {
  @apply mb-4 flex flex-row items-center justify-between gap-4 border border-neutral-700 text-neutral-300 shadow-lg shadow-neutral-700/10 backdrop-blur-[200px];
}

.neosound__playlist--list-view {
  @apply mx-auto;
}

.neosound__playlist--row-title span {
  white-space: nowrap;
}

.neosound__playlist--item__title span {
  display: block;
  max-width: 300px;
  white-space: pre-line;
  font-size: 1.8rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.neosound__playlist--item__artist span {
  display: block;
  width: 250px;
  white-space: nowrap;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.neosound__playlist--item-title__list span {
  display: block;
  max-width: 250px;
  white-space: nowrap;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
